/*Media
======================================*/

@media (max-width: 1440px) {

	.container {
		width: 1200px;
		display: flex;
	}

	.menu_list {
		margin-bottom: 100px;
	}

	.margin-bottom1 {
		margin-bottom: 100px;
	}
	
	.img_item {
		width: 200px;
		height: 200px;
		overflow: hidden;
	}
	
	.description_item {
		width: 200px;
		height: 200px;
		background-color: #f8f8f8;
		text-align: center;
		padding: 20px 10px;
	}

	.description_item_p {
		font-size: 15px;
	}

	.specials_title_h3 {
		font-size: 40px;
		font-weight: 300;
		margin-bottom: 25px;
		margin-top: 30px;
	}
	
	.specials_item {
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.yellow_block_elements {
		padding: 30px;
	}

	.yellow_block_item {
		margin-bottom: 0;
	}
	
	.signature {
		margin-bottom: 20px;
	}

	.sause-pan_img {
		width: 500px;
		height: 500px;
	}
	
	.about_us_text_p {
		font-size: 25px;
	}

	.non-margin {
		margin-bottom: 30px;
	}

	.menu_title {
		margin-bottom: 0;
	}

	.dishes_list:last-child {
		margin-bottom: 0;
	}

	.dishes_list_item {
		margin-bottom: 10px;
	}

	.dishes_list_item_p {
		font-size: 10px;
	}

	.dishes_list_item_h4, .dishes_list_item_price  {
		font-size: 15px;
	}

	.address, .reservation {
		margin-left: 30px;
    	margin-bottom: 50px;
	}

	.form {
		margin-left: 30px;
	}

	.margin {
		 margin-top: 30px;
    	margin-bottom: 40px;
	}

	.send_btn {
		margin-bottom: 30px;
	}

	.contact_info_block {
		margin-top: 10px;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 950px;
		display: flex;
	}
	
	.specials_item {
		width: 1024px;
		justify-content: space-between;
	}

	.img_item {
		width: 220px;
		height: 220px;
	}

	.description_item {
		width: 220px;
		height: 220px;
	}

	.menu_list_item {
		padding: 10px;
	}

	.menu_list_item:hover {
		padding: 9px;
	}

	.title_h1 {
		font-size: 30px;
	}
	
	.special_item_element1, .special_item_element5 {
		flex-direction: row-reverse;
	}

	.special_item_element6 {
		flex-direction: row;
	}

	.specials_title_h3 {
		font-size:30px;
	}

	.about_us_text_p {
		font-size: 20px;
	}

	.signature_img {
		width: 100px;
		height: 100px;
	}

	.dishes_list_item_h4, .dishes_list_item_price {
		font-size: 10px;
	}

	.dishes_list_item_p {
		font-size: 8px;
	}

	.contacts_h4 {
		font-size: 15px;
	}

	.address, .reservation, .form {
		margin-left: 20px;
	}

	.contacts_p {
		font-size: 13px;
	}

	.input {
		padding-left: 10px;
    	padding-bottom: 5px;
	}

	.input::-webkit-input-placeholder {
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
	}

	.send_btn {
		padding: 10px 20px;
	}

	.social_menu_item_link {
		width: 40px;
		height: 40px;
	}
}