*, :before, :after {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Merriweather', serif;
}

/*Header
======================================*/

.header	{
	height: 970px;
	display: flex;
	justify-content: center;
	background: url(images/header_vegetables.png) no-repeat;
	background-size: 100% 100%;
}

.container {
	width: 1550px;
	display: flex;
}

.col-md-17 {
	width: 100%;
	display: flex;
}

.col-md-10 {
	width: 60%;
}

.col-md-7 {
	width: 40%;
}

.col-md-5 {
	width: 30%;
}

.menu_list {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 315px;
}

.menu_list_item_link {
	padding: 15px;
	display: block;
	color: #3c3c3c;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
}

.menu_list_item:hover {
	border: 1px solid #3c3c3c;
}

.title, .title_decoration {
	text-align: center;
}

.title_h1 {
	font-size: 40px;
	color: #3c3c3c;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 40px;
}


/*Main
======================================*/

/*Yellow block
======================================*/

.yellow_block_elements {
	display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 65px;
}

.yellow_block {
	height: 385px;
	display: flex;
	justify-content: center;
	background: url(images/yellow_background.png);
	background-size: 100% 100%;
}

.yellow_block_item {
	text-align: center;
}

.yellow_block_item_h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	color: #3c3c3c;
	margin-top: 35px;
	margin-bottom: 30px;
}

.yellow_block_item_p {
	color: #3c3c3c;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

.yellow_block_img {
	    line-height: 80px;
    height: 80px;
}

